<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Produtos</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-black">
        <a class="navbar-brand text-success" href="#">GreenSystem</a>
        <form class="form-inline my-2 my-lg-0">
            <a id="signup" class="btn btn-dark my-2 my-sm-0 text-white" href="/signup-user">Cadastrar-se</a>
            <a id="login" class="btn btn-dark my-2 my-sm-0 ml-2 text-white" href="/login">Entrar</a>

            <div class="dropdown user-settings">
                <button class="btn btn-secondary rounded-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-o"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item account-settings" href="/change-infos/">Configurações de conta</a>
                    <a class="dropdown-item cart" href="/purchase-user">Pedidos de compra</a>
                    <a class="dropdown-item cart" href="/carrinho">Carrinho</a>
                    <a class="dropdown-item logout" href="#">Sair</a>
                </div>
            </div>
        </form>
    </nav>
    <div class="container mt-5 pt-5"></div>
</body>
</html>