@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* .btn-light {
    background-color: #DFDFDF;
    border-radius: 10px;
    border: 2px solid #C1C1C1;
}

.bg-black {
    background-color: #000000!important;
} */